<div id = 'usernoteWrapperHeader'>
    <form id= 'usernote' action="/action_page.php">
        <textarea id="headerNote" rows="6" cols="80"></textarea>
        <br>
        <input type="submit" value="Save">
    </form>
</div>
