:root {
    --note-background: #fdfd96;
}

.personal-notes {
}

#note-button {
    position:fixed;
    right: 0;
    top: 45%;
    border-radius:8px;
}

#note-body {
    display: none;
    position:fixed;
    z-index: 1;
    right: 0;
    top:50%;
    border: 1px solid #ddd;
    background-color: var(--note-background);
    box-shadow: 7px 7px 7px rgba(0,0,0,.1);
    border-radius:8px;
    form {
        // display buttons under textarea
        display: flex;
        flex-direction: column;
        textarea {
            background-color: var(--note-background);
            min-width: 200px;
            min-height: 200px;
            border-bottom-left-radius:8px;
            border-bottom-right-radius:8px;
            border-top:0;
        }
    }
}

#quick-notes-container {
    border: 1px solid var(--primary-low);
    background-color: var(--secondary);
    position: fixed;
    left: 55%;
    z-index: 1000;
    top: 60px;
    width: 320px;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    background-color: var(--secondary);
    margin: 1rem;
    padding: 0.5em;
    display: none;
    h1 {
        text-align: center;
        font-size: 1.2rem;
        font-family: "Nunito Sans", "Montserrat", "Segoe UI", "Helvetica", sans-serif;
        border-radius: 8px;
        border: 1px solid rgb(250, 250, 176);
        background-color: rgb(250, 250, 176);
        padding: 0.5rem 0;
    }
    .notes-search-input {
        display: flex;
        align-items: center;
        padding: 0 0.25em;
        margin-top:0.5em;
        border: 1px solid var(--primary-medium);
        border-radius:8px;
        #notes-search {
            margin:0;
            width:100%;
            border: none;
        }
    }
    ul {
        list-style:none;
        margin: 0.5em 0;
        li {
            padding: .5rem;
            &:hover {
                background-color: rgb(250, 250, 176);
                border-radius: 8px;
            }
            a {
                font-family: "Nunito Sans", "Montserrat", "Segoe UI", "Helvetica", sans-serif;
                font-size: 1rem;
                .d-icon {
                    color: var(--primary-high);
                } 
            }
        }
    }
    .btn {
        border-radius:8px;
        width:100%;
    }
}

#color-choice-container {
    display: flex;
    .color-choice {
        width: 22px;
        height: 22px;
        flex-grow:1;
        border: 1px solid var(--primary-medium);
        border-right:0;
    }
    #first-color {
        border-top-left-radius:8px;
        background-color:white;
    }
    #second-color {
        background-color:blanchedalmond;
    }
    #third-color {
        background-color: #fdfd96;
    }
    #fourth-color {
        background-color: pink;
    }
    #fifth-color {
        background-color: #ffc4ae;
    }
    #sixth-color {
        background-color:paleturquoise;
    }
    #seventh-color {
        background-color:palegreen;
    }
    #eighth-color {
        background-color:plum;
    }
    #ninth-color {
        border-top-right-radius:8px;
        border-right: 1px solid var(--primary-medium);
        background-color:lightgrey;
    }
}