<div id = 'usernoteWrapper'>
    <a title="take notes" class="icon btn-flat">
        <svg class="fa fa-large d-icon d-icon-sticky-note svg-icon svg-node" id="bottomUserNoteControl" aria-hidden="true">
            <use xlink:href="#sticky-note"></use>
        </svg>
    </a>
    <form id="bottomUserNote" action="/action_page.php">
        <textarea id="note" rows="6" cols="80"></textarea>
        <br>
        <input type="submit" value="Save">
    </form>
</div>
